@charset "utf-8";
/* CSS Document */


*{
margin:0 auto;
padding:0 0;

}


body{
height:auto;

}
img{ border:none;}

h2{
color:#7f9650;
font-weight:bolder;
font-size:19px;
padding-bottom:5px;
padding-top:3px;


}
h3{
color:#49648f;
padding:18px 15px;
font-weight:bolder;
font-size:20px;}


ul li{
list-style:none;}

a:link,a:visited,a:active{
	color:#FFF;
	text-decoration:none;
}
a:hover{ color:#F90; text-decoration:none;}

h3 a:hover{
	text-decoration:underline;
}

.border-rt{border-top:#000 1px solid;border-left:#000 1px solid;}

#logo{
	border-top:#000 1px solid;border-right:#000 1px solid;border-left:#000 1px solid;
	width:990px;
	height:140px;
	background-color:#000;
	text-align:right;
	background-repeat:no-repeat;
	font-size:17px;
	font-family: "黑体", "宋体",serif;
	position:relative;
	color:#FFF;
}

#logoimg{position:absolute; left:37px;; top:15px;}

#logo-up{
width:930px;
height:25px;
padding:30px 30px 0 0;
}

#logo-up ul li{
display:inline;

}
#logo-up input{
width:130px;
height:20px;
background-image:url(image/textbg.jpg);
color:#000;
 }

.logo-up-password{
margin-left:60px;}

#logo-down{
width:900px;
height:50px;
padding:60px 0 0 0;
}

#logo-down ul li{
	font-size:15px;
	height:15px;
	display:inline;
	padding-left:5px;
}

#logo-nav{ font-family:"黑体", "宋体", "宋体-方正超大字符集", "新宋体", "Times New Roman", Georgia; font-weight:bold; color:#FFF; font-size:17px;}
#logo-nav ul li{display:inline; margin:0 40px 0 0;}

#main{
	border-right:#000 1px solid;border-left:#000 1px solid;
	width:990px;
	min-height:700px;
	font-family: "宋体", serif;
	font-weight:450;
	color:#231F22;
	background-color:#555f66;

}

#main-up{
width:990px;
height:300px;}

.main-up-left{
width:660px;
float:left;


}
.main-up-right{
font-size:12px;
width:329px;
float:right;
}
.main-up-right-a{
	position:relative;
	height:80px;
	width:330px;
	padding:9px 0;
	margin:1px 0;
	overflow: hidden;
}

.main-up-right ul li{
width:263px;
padding-right:35px;

}

#mian-down{
width:990px;
height:417px;
position:relative;}

#mian-down-l{
	width:310px;
	height:417px;
	position:absolute;
	top:0px;
	left:0px;
	padding-left:20px;
}

#mian-down-l span{
line-height:30px;
}

#mian-down-l p{
	margin-top:25px;
	margin-bottom:5px;
}
.mian-down-l-friendlink{
position:absolute;
top:317px;
left:0px;
background-repeat:no-repeat;
width:330px;
height:100px;
 }
 
 
 
 #mian-down-m{
 width:330px;
 height:417px;
 position:absolute;
 top:0px;
 left:330px;
 }
 
.mian-down-m-1 ul li{
display:inline;
}

.mian-down-m-1{
font-size:14px;
	padding:5px 10px;
	width:330px;
	height:80px;
	position:relative;
}
.mian-down-m-word{
line-height:18px;
position:absolute;
width:180px;
top:5px;
left:140px;}

.mian-down-m-2 p,.mian-down-m-1 p{
text-align:right;
margin-right:20px;
}

.mian-down-m-2{
width:330px;
position:relative;
}


.mian-down-m-word1{
line-height:18px;
position:absolute;
width:205px;
top:15px;
left:90px;
font-size:14px;}

.mian-down-m-2 img{
padding-left:20px;}

 #mian-down-r{
 width:330px;
 height:417px;
 position:absolute;
 top:0px;
 left:660px;
 }
 
 #mian-down-r h4{
 color:#333333;
 padding-bottom:10px;
 padding-left:15px;}
 
 
 .mian-down-m-2 h3{
 
 line-height:4px;}

 #mian-down-r ul li{
 line-height:18px;
 margin-left:15px;
 
 }
#footer{
	border-top:#000 1px solid;border-right:#000 1px solid;border-left:#000 1px solid;
	width:990px;
	height:60px;
	background-color:#000;
	color:#FFFFFF;
	position:relative;
}

.copyright
{
position:absolute;
top:25px;
left:45px;}

.shengming{
position:absolute;
top:28px;
right:20px;
font-size:10px;}
#footer ul li{
display:inline;}


	

